<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922949908671-qmk1jppi5scueb7jahhpt419l9qfiu3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922949908671-qmk1jppi5scueb7jahhpt419l9qfiu3k</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Ph9gAqc8NBcS5Ok-Zi1aYpuVRRA4FsA</string>
	<key>GCM_SENDER_ID</key>
	<string>922949908671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lemon.LemonChatSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>lemonchat-ee76c</string>
	<key>STORAGE_BUCKET</key>
	<string>lemonchat-ee76c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922949908671:ios:89778d42e06a7d6a492e0a</string>
</dict>
</plist>